/* -------------------------------------
                Init
--------------------------------------*/

body,
ul,
h4, 
p,
h5 {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* -------------------------------------
                Fin init
--------------------------------------*/

/* -------------------------------------
                Style
--------------------------------------*/
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0C1324;
}

#parent-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 375px;
    border-radius: 20px;
    background-color: #1D1E4E;
    margin-top: 2rem;
}

#main-presentation {
    background-color: #5F3AF3;
    display: flex;
    color: #FFFFFF;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

#main-presentation p {
    color : #B3A5FF;
    padding: 0 1.5rem;
    margin-bottom: 0;
}

#main-presentation h4 {
    font-weight: 300;
    font-size: 24px;
    padding: 0 1.5rem;
    margin-top: 0;
}

#main-presentation img{
    width: 60px;
    height: 60px;
    border: solid 3px #FFFFFF;
    border-radius: 50%;
}

#main-navigation ul {
    display: flex;
    color: #FFFFFF;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

#main-navigation ul li {
    margin: 2rem 0;
}

#work-section {
    background-color: #FF8459;
    overflow: hidden;
}

#play-section {
    background-color: #02C4EA;
    overflow: hidden;
}

#study-section {
    background-color: #FF5F7D;
    overflow: hidden;
}

#exercice-section {
    background-color: #4AD082;
    overflow: hidden;
}

#social-section {
    background-color: #7235D2;
    overflow: hidden;
}

#care-section {
    background-color: #F1C75A;
    overflow: hidden;
}

.head {
    height: 75px;
}

.head svg {
    margin-top: -.8rem;
    margin-left: 17rem;
    z-index: 0;
    position: relative;
}

#exercice-svg{
    padding-top: .5rem;
}

.contain {
    background-color: #1D1E4E;
    border-radius: 20px;
    margin-top: -2rem;
    z-index: 99;
    position: relative;
    padding-bottom: 1.5rem;
}

.contain-title{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
}

.contain-dots{
    color: #CFD1FF;
    font-weight: 300;
    font-size: 28px;
}

.contain-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1.5rem 0 1.5rem;
}

.daily-previous-duration {
    color: #A6A8DA;
    font-size: 12px;
}

.duration {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem .5rem 1.5rem;
}

.invisible {
    display: none;
}

/* -------------------------------------
                Fin style
--------------------------------------*/


/* -------------------------------------
                Responsive
--------------------------------------*/

@media screen and (min-width : 992px){

    main {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-column-gap: 2rem;
    }
    
    #parent-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 5rem;
    }

    #cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* justify-content: center; */
        align-items: center;
        padding: 4rem;
    }

    section {
        width: 15rem;
        height: 15rem;
        border-radius: 20px;
        background-color: #1D1E4E;
        margin-top: 2rem;
    }

    #main-navigation {
        height: 32rem;
    }

    .head svg {
        margin-top: -.8rem;
        margin-left: 9rem;
        z-index: 0;
        position: relative;
    }

    .contain {
        height: 13rem;
    }

}