/* -------------------------------------
                Init
--------------------------------------*/

body,
ul,
h4, p {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

li {
    list-style-type: none;
}

/* -------------------------------------
                Fin init
--------------------------------------*/

/* -------------------------------------
                Style
--------------------------------------*/
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0C1324;
}

section {
    width: 375px;
    border-radius: 20px;
    background-color: #1D1E4E;
    margin-top: 2rem;
}

#main-presentation {
    background-color: #5F3AF3;
    display: flex;
    color: #FFFFFF;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

#main-presentation p {
    color : #B3A5FF;
    padding: 0 1.5rem;
    margin-bottom: 0;
}

#main-presentation h4 {
    font-weight: 300;
    font-size: 24px;
    padding: 0 1.5rem;
    margin-top: 0;
}

#main-presentation img{
    width: 60px;
    height: 60px;
    border: solid 3px #FFFFFF;
    border-radius: 50%;
}

#main-navigation ul {
    display: flex;
    color: #FFFFFF;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

#main-navigation ul li {
    margin: 2rem 0;
}

#work-section {
    background-color: #FF8459;
    overflow: hidden;
}

#work-section svg {
    margin-top: -1rem;
    margin-left: 17rem;
    z-index: -10;
}

#work-contain {
    background-color: #1D1E4E;
    border-radius: 20px;
    margin-top: -3rem;
    z-index: 99;
}